body {
    background-color: skyblue;
}
#sidebar {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 20px; /* distance from top of viewport */
    align-self: flex-start; /* important inside Bootstrap row */
}

/* Allow parent dropdown links (like Transactions) to be clickable */
.navbar .dropdown-toggle {
    pointer-events: auto;
}
